@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-space-black: #0e1728ff;
  --color-space-blue: #1B2F65ff;
  --color-space-light-blue: #33568Cff;
  --color-space-orange: #B26133ff;
  --color-space-gold: #D09A56ff;
  --color-cream: #f1e8d7;
}

@theme inline {
  --color-background: var(--color-space-black);
  --color-foreground: var(--color-space-gold);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-space-black);
  color: var(--color-cream);
  font-family: Arial, Helvetica, sans-serif;
}

/* indents subsequent lines of a list item */
.indent-bullets li {
  text-indent: -1.5em;
  padding-left: 1.5em;
}